#nav .active, #nav > li > a:focus{
  background: rgb(90, 196, 196);
}

 #nav li a{
  color: white;
}

.center{
    text-align: center;
}

body{
     /* background-size:100px 100px; */

    background: radial-gradient(circle , #020a61,#1f1a1a);
    /* background:radial-gradient(circle at center, red 0, blue, green 100%); */
  }

.nav-item{
text-align:center; 
position: relative; 
display: inline-block;
}

.nav-brand{ 
	/* position:fixed;  */
	top:0; 
	left:0; 
  padding-right: 20%;
  /* width:10px;
  height:10px */
} 

.navbar-brand.navbar-right{
  margin-left:15%
}

.instagram{
  position:relative;
  margin-right: 9px;
}

.nav-bar-container{
  margin-top: 55px;
}

.home-content{
  /* margin-top:5%; */
  margin-left:5%;
  padding-top: 2.5%;
}
.display-content div{
  display: inline-block;
  flex: 35%;
  /* max-height: fit-content; */
  /* text-align: center; */
  /* box-sizing: border-box; */
  /* display: flex; */
    /* flex-wrap: wrap; */
}

img{
  max-width: 100%;
  max-height: 100%;
}

.img-about-us{
  height:400px;
  vertical-align: top;
  padding-top: 50px;  
  border: 1px solid #555;
}

.sub-section{
  margin-top: 20%;
  text-align: center;
  /* align-items: center; */

}

h2,h3,h4,h6,p{
  color:white;
  text-align: center;
}

.left-align{
  text-align: left;
}

.subtitle{
padding-bottom: 30px;
}

.about-us-content{
  width:40%;
  border: 1px solid #555;
  margin-right: 30px;
  padding-left: 35px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.exercise-content{
  width:60%;
  border: 1px solid #555;
  margin-right: 30px;
  padding-left: 35px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.animate-text{
  animation: color-me-in 3s infinite;
}

@keyframes color-me-in {
  0% {
    background: orange;
  }
  100% {
    background: radial-gradient(circle , #020a61,#1f1a1a);
    ;
  }}
.img-exercise{
  border: 1px solid #555;
  height:520px;
  vertical-align: top;
}

.diet-plan-content{
  width:50%;
  border: 1px solid #555;
  margin-right: 30px;
  padding:20px;
}

.diet-plan-us{
  border: 1px solid #555;
  height:200px;
  vertical-align: top;
  margin-bottom: 35px;
}
.text-black{
  color: black;
}

footer{
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 27%;
}

.footer-logo{
  padding-bottom: 20px;
}

.footer-logo-img{
  background-color: rgb(238, 227, 227);
}
.footer-content-container{
  display: flex;
  text-align: left;
}

.footer-content-container > div {
  flex: 1;
}